.btn-red,
.btn-red:link,
.btn-red:visited {
  background-color: #d6655f;
  border: 1px solid #ccc;
  color: #fff;
  padding: 5px;
  text-decoration: none;
}
.btn-red:hover {
  background-color: #cc6753;
  cursor: pointer;
  text-decoration: none;
}

.btn-red:active {
  background-color: #a04c4a;
  text-decoration: none;
}
.btn-red.pressed {
  background-color: #a04c4a !important;
  text-decoration: none !important;
}