html {
  *max-height: 100%;
  *overflow: hidden;
}
body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
html, body {
  height: 100%;
}
footer, header, section {
  display: block;
}
footer.main {
  background: #eff73b;
  bottom: 0;
  font-size: 10px;
  font-weight: bold;
  height: 20px;
  padding-top: 5px;
  position: absolute;
  text-decoration: none;
  width: 100%;
  z-index: 300;
}
footer.main .copyright {
  float: right;
  padding-right: 20px;
}
footer.main .nav {
  list-style: none;
  margin: 0;
  padding-left: 20px;
}
footer.main .nav li {
  float: left;
  padding-right: 1em;
}
footer.main .nav li a {
  border-bottom: 1px dotted #333;
  color: #333;
  text-decoration: none;
  *text-decoration: underline;
}
header {
  background: #fff;
  *background: url(/img/bgheader.jpg);
  background: -moz-linear-gradient(center top, #e2e2e2, #fff, #fff, #fff);
  background: -webkit-linear-gradient(top, #e2e2e2, #fff, #fff, #fff);
  border-bottom: 1px solid #ccc\0/;
  box-shadow: 0 3px 5px #666;
  -moz-box-shadow: 0 3px 5px #666;
  -webkit-box-shadow: 0 3px 5px #666;
  height: 73px;
  position: relative;
  width: 100%;
  z-index: 100;
}
header h1 {
  font-size: 1px;
  height: 73px;
  margin: 0;
  padding: 0;
  width: 264px;
}
header h1 span {
  display: none;
}
header h1, header .fb-like, header .search {
  display: table-cell;
  *display: block;
  vertical-align: middle;
}
header h1, header .fb-like {
  *float: left;
}
header .fb-like {
  *margin-top: 12px;
  padding-left: 30px;
  text-align: left;
  width: 100%;
  *width: 375px;
}
header .fb-like a {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #5bc47e;
  color: #fff;
  display: block;
  font-size: 11px;
  margin-top: 4px;
  padding: 3px 0;
  text-align: center;
  text-decoration: none;
  width: 375px;
}

header .fb-like a:link, header .fb-like a:visited {
  background: #157e44;
}
header .fb-like a:hover, header .fb-like a:active {
  background: #1da65a;
}
header .fb-like iframe {
  border: 0;
  display: block;
  height: 26px;
  margin-top: 0;
  overflow: hidden;
  width: 375px;
}
header .logo {
  border: 0;
}
header .search {
  *float: right;
  *margin-top: 12px;
  min-width: 300px;
  overflow: hidden;
  padding-right: 12px;
  width: 300px;
}
header .search .button {
  border: 1px solid #999;
  border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  cursor: pointer;
  display: block;
  float: right;
  height: 38px;
  -webkit-appearance: button;
}
header .search .input {
  border: 1px solid #999;
  border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  display: block;
  float: right;
  font-size: 22px;
  height: 34px;
  margin: 4px;
  padding-left: 4px;
  position: relative;
  right: -7px;
  top: -4px;
  width: 250px;
  width: 240px\0/;
}
header .shadow {
  *background: url(/img/shadow.png) repeat-x;
  display: none;
  *display: block;
  *height: 10px;
  *left: 0;
  *position: absolute;
  *top: 73px;
  *width: 100%;
  *z-index: 200;
}
#disclaimer {
  background: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: none;
  padding: 20px;
  position: absolute;
  width: 440px;
  z-index: 10000;
}
#disclaimer h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
#disclaimer p {
  margin-bottom: 10px;
}
#disclaimer footer {
  margin-top: 10px;
}
#mask {
  background: #000;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9000;
}
#map {
  -moz-transition-property: margin-right;
  -o-transition-property: margin-right;
  -webkit-transition-property: margin-right;
}
#map.with-search-results {
  margin-right: 300px;  /* Taken from #search-results.show in search_results.css */
}
#map.without-search-results {
  margin-right: 0;
}

.loading {
  text-align: center;
}
.loading img {
  border: 0;
  height: 16px;
  width: 16px;
}
