.locale-info {
  font-family: Arial, sans-serif;
  overflow: hidden;
}
#search-results .results-list li .result h3,
.locale-info h3 {
  display: inline-block;
  *float: left;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  padding-bottom: 6px;
}
#search-results .email,
.locale-info .email {
  *float: left;
  padding-left: 5px;
}
#search-results .results-list li .result .tel .type,
#search-results .results-list li .result .email .type,
#search-results .results-list li .result .email .value,
#search-results .results-list li .view-marker .text,
.locale-info .tel span.type,
.locale-info .email span.type,
.locale-info .email span.value {
  display: none;
}
#search-results .email a,
.locale-info .email a {
  background: url(/img/icon_mail.png) no-repeat -1px -2px;
  display: inline-block;
  height: 11px;
  margin-left: 4px;
  width: 16px;
}
#search-results .results-list li .result .adr,
.locale-info .adr {
  *clear: both;
}
#search-results .results-list li .result .adr,
#search-results .results-list li .result .tel,
#search-results .results-list li .result .services .day-of-week,
#search-results .results-list li .result .services li,
.locale-info .adr,
.locale-info .tel,
.locale-info .day-of-week,
.locale-info .services li {
  line-height: 20px;
}
#search-results .results-list li .result .services li .language,
.locale-info .language {
  line-height: 1;
}
#search-results .results-list li .result .adr .street-address,
#search-results .results-list li .result .adr .extended-address,
.locale-info .extended-address,
.locale-info .street-address {
  display: block;
}
#search-results .results-list li .result .adr .region,
#search-results .results-list li .result .adr .postal-code,
.locale-info .region,
.locale-info .postal-code {
  padding-left: 1ex;
}
#search-results .results-list li .result .services,
.locale-info .services {
  clear: both;
  margin-bottom: 5px;
  overflow: hidden;
  padding-top: 10px;
}
#search-results .results-list li .result .services .day-of-week,
.locale-info .services .day-of-week {
  clear: both;
  display: block;
  font-weight: bold;
  padding: 5px 3px 3px 0;
}
#search-results .results-list li .result .services dd,
.locale-info .services dd {
  display: block;
  padding-bottom: 10px;
}
#search-results .results-list li .result .services li,
.locale-info .services li {
  float: left;
  padding-bottom: 3px;
  *white-space: nowrap;
}
#search-results .results-list li .result .services li .cws,
#search-results .results-list li .result .services li .language,
.locale-info .services li .cws,
.locale-info .services li .language {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #fff;
  display: inline-block;
  *display: inline;
  font-weight: bold;
  margin-left: 4px;
  margin-right: 2px;
  *padding: 0 3px;
  text-align: center;
  text-transform: lowercase;
  width: 13px;
}
#search-results .results-list li .result .services li .cws,
.locale-info .services li .cws {
  background-color: #f00;
  font-family: Helvetica;
  font-size: 13px;
  line-height: 15px;
  position: relative;
  *position: static;
  top: -1px;
  width: 29px;
}
#search-results .results-list li .result .services li .tl,
.locale-info .services li .tl {
  background: #06bb76;
}
#search-results .results-list li .result .services li .en,
.locale-info .services li .en {
  background: #0070c1;
  font-family: Helvetica;
  position: relative;
  *position: static;
  top: -1px;
  width: 20px;
}
.locale-info .last-update {
  color: #999;
  font-size: 10px;
  padding: 5px 0 2px;
}
#search-results .results-list li .result .wrong-info,
.locale-info .wrong-info {
  clear: both;
  color: #050;
  display: inline-block;
  padding: 7px 0 3px;
}
#search-results .results-list li .actions {
  clear: both;
  margin: 15px 0 0 34px;
  padding-bottom: 15px;
}
.locale-info .map-links {
  list-style: none;
  margin: 15px 0;
  padding: 0;
}
#search-results .results-list li .actions li,
.locale-info .map-links li {
  float: left;
  padding-bottom: 9px;
  *padding: 8px 0;
  text-transform: capitalize;
}
#search-results .results-list li .actions li + li,
.locale-info .map-links li + li {
  margin-left: -1px;
}