::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
::-webkit-scrollbar-resizer {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: #cecece;
  -webkit-border-radius: 20px;
}
#search-results {
  background: #fff;
  border-top: 1px solid #ccc;
  font-family: Arial, sans-serif;
  overflow: hidden;
  position: absolute;
  top: 73px;
  right: 0;
  z-index: 200;
}
#search-results.animate {
  -moz-transition-property: width;
  -o-transition-property: width;
  -webkit-transition-property: width;
}
#search-results.animate,
#map {
  -moz-transition-duration: .25s;
  -moz-transition-timing-function: ease;
  -o-transition-duration: .25s;
  -o-transition-timing-function: ease;
  -webkit-transition-duration: .25s;
  -webkit-transition-timing-function: ease;
}
#search-results .close:link,
#search-results .close:hover,
#search-results .close:active,
#search-results .close:visited {
  background-color: #e3f0e9;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  display: block;
  height: 100%;
  *left: 0;
  position: absolute;
  top: -1px;
  width: 16px;
  z-index: 10;
}
#search-results .close .knob {
  border-bottom: 8px solid transparent;
  border-left: 8px solid #333;
  border-top: 8px solid transparent;
  font-size: 0;
  height: 0;;
  left: 4px;
  line-height: 0;
  position: absolute;
  top: 48%;
  width: 0;
}
#search-results .header-container .toggle,
#search-results .filter {
  -moz-transition-duration: .25s;
  -moz-transition-timing-function: ease-out;
  -o-transition-duration: .25s;
  -o-transition-timing-function: ease-out;
  -webkit-transition-duration: .25s;
  -webkit-transition-timing-function: ease-out;
}
#search-results .header-container {
  padding: 8px;
}
#search-results .header-container h2 {
  color: #157e44;
  font-size: 16px;
}
#search-results .filter {
  background-color: #eee;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0;
  height: 0;
  -moz-transition-property: height margin-top padding-bottom padding-top opacity;
  -o-transition-property: height margin-top padding-bottom padding-top opacity;
  -webkit-transition-property: height margin-top padding-bottom padding-top opacity;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
}
#search-results .filter.hide {
  *border-width: 1px 0 0 0;
  border-width: 1px 0 0 0\0/;
  height: 0;
  margin-top: 0;
  padding: 0;
  opacity: 0;
}
#search-results .filter.show {
  *border-width: 1px 0;
  border-width: 1px 0\0/;
  height: auto;
  padding: 10px 0;
  opacity: 1;
}
#search-results .header-container .point-down {
  filter:progid:DXImageTransform.Microsoft.Matrix(M11=-1.8369701987210297e-16, M12=-1, M21=1, M22=-1.8369701987210297e-16, SizingMethod='auto expand');
  -ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=-1.8369701987210297e-16, M12=-1, M21=1, M22=-1.8369701987210297e-16, SizingMethod='auto expand')";
  *top: -4px !important;
  top: 5px\0/ !important;
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
#search-results .header-container .point-right {
  *top: -2px !important;
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
#search-results .filter label {
  color: #333;
  font-weight: bold;
  padding-left: 3px;
}
#search-results .filter li {
  margin-bottom: 3px;
}
#search-results .filter .days-of-week,
#search-results .filter .times-of-day {
  float: left;
  margin-left: 5px;
  width: 105px;
}
#search-results .filter .times-of-day {
  margin: 0 0 10px 10px;
  width: 95px;
}
#search-results .filter .actions {
  clear: both;
  padding-top: 5px;
  text-align: center;
}
#search-results .filter .actions .reset {
  padding: 5px 20px
}
#search-results .content {
  margin-left: 18px;
  position: relative;
  z-index: 0;
  *width: 282px;
  width: 282px;
}

#search-results.show {
  box-shadow: -3px 5px 5px #666;
  -moz-box-shadow: -3px 5px 5px #666;
  -webkit-box-shadow: -3px 5px 5px #666;
  width: 300px;
}
#search-results.hide {
  box-shadow: 0;
  -moz-box-shadow: 0;
  -webkit-box-shadow: 0;
  width: 0;
}
#search-results h2.empty {
  color: #b31d1d;
  font-size: 16px;
  line-height: 1.4;
  margin: 10px 10px 15px;
}
#search-results h2.empty strong {
  font-weight: bold;
}
#search-results h2.empty .geocode-msg {
  margin-top: 1em;
}
#search-results .container {
  margin-bottom: 5px;
  padding: 5px 0;
  white-space: nowrap;
}
#search-results .narrow-search {
  color: #050;
  display: inline-block;
  margin: 10px 0 5px;
}
#search-results .header-container .toggle {
  display: inline-block;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #050;
  border-top: 6px solid transparent;
  cursor: pointer;
  height: 0;
  left: -5px;
  *left: 10px !important;
  margin-left: 15px;
  position: relative;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  text-decoration: none;
  top: 1px;
  width: 0;
}
#search-results .results-list {
  *display: block;
  list-style: none;
  overflow: auto;
  *overflow-x: hidden;
  padding: 0;
}
#search-results .results-list > li {
  background: transparent;
  margin: 0;
  padding: 15px 0;
  position: relative;
  *position: static;
}
#search-results .results-list > li:hover {
  background: #f8f8f8;
}
#search-results .results-list li .marker {
  cursor: pointer;
  left: 5px;
  position: absolute;
}
#search-results .results-list li .result {
  *float: left;
  margin: 0 6px;
  padding: 0 5px 0 29px;
  *padding-bottom: 6px;
}
