@import "locale_form.less";
@import "services.less";

h1 {
  margin-bottom: .5em;
}
#services {
  h2 {
    display: inline;
    margin-right: .5em;
  }
  .add-service {
    position: relative;
    top: -7px;
  }
}